* {
  box-sizing: border-box;
  font-family:  sans-serif;
  font-style: normal;
  font-weight: 700;
}





body {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family:  sans-serif;
  font-weight: 700 !important;
  background-image: url('/assets/images/background.jpeg');
}

body .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 70px);
  /* background-color: rgb(225, 216, 216); */
  margin: 0 auto;
  width: 350px;
  overflow: hidden;
}

body .content .insighter-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3em;
}

body .content .insighter-logo img {
  width: 80px;
}

body .content .content-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
}

body .content .content-header h1 {
  width: 300px;
  font-size: 24px;
  font-weight: 700;
  color: #3540e6;
  /* margin: 10px 0 10px 0; */
}

body .content .content-header p {
  width: 250px;
  font-size: 15.5px;
  font-weight: 700;
  color: #3540e6;
  /* margin: -7px 0 10px 0; */
}
/* body .content .input-recuperar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

body .content .input-recuperar textarea {
  background: rgba(53, 64, 230, 0.09);
  padding: 0 15px 0 15px;
  border: none;
  color: #3540e6;
  resize: none;    
  max-width: 90%;
}

body .content .input-recuperar textarea::placeholder {
  color: #3541e662;
}

body .content .button-senha {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding-top: 1px;
  justify-content: center;
  align-items: center;
}

body .content .button-senha a {
  width: 300px;
  display: flex;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #3540e6;
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* 
body .content .button-senha{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

body .content .button-senha button{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 300px;
    background: #3540E6;
    color: #fff;
    
    border-radius: 3em;
    border: none;
}  */

