* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  background: #fff;
}



.home-content{
  display: flex;
  flex-direction: column;
  
}
.welcome-home{
  margin: auto;
}


/* codigo gilvan */
.home_mensagem {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #344EE2;
  margin: 0px 2% 0px 2%;
  margin-top: 70px;
}
@media(max-width: 600px) {
  .home_mensagem{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #344EE2;
    margin: 0px 2% 0px 2%;
    margin-top: 0;
   
  }
}
.home_mensagem h1{
  margin: 0;
}

.home_corpo {
  display: flex;
  flex-direction: column;
}

.home_alerta {
  padding-top: 10%;
  margin: 0px 2% 0px 2%;
}

.home_alerta div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding-top: 5%; */
  padding-bottom: 5%;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.home_corpo a{
  text-decoration: none;
}

a .home_alerta p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 114.3%;
  color: #1E1E1E;
  padding-left: 3%;
  text-decoration: none;
}

.home_alerta_conteudo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home_alerta .home_alerta_conteudo svg{
  height: 70px;
  padding-right: 5px;
}

/* codigo charts */
.wrapper-content .wrapper h1{
  color: #3540E6;
  padding-left: 15px;
}

@media screen and (min-width: 768px) {
  #wrapper-content{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #wrapper{
    width: 33%;
  }
  .wrapper{
    max-width: 100% !important;
  }
  .home_alerta{
    padding-top: 2.2%;
    margin: 0px 2% 0px 2%;
  }
  .home_alerta div{
    padding-top: 0;
    padding-bottom: 0;
  }
  .home_alerta .home_alerta_conteudo svg{
    height: 160px;
    padding-right: 5px;
  }
  a .home_alerta p {
    font-size: 50px;
  }
  .home_mensagem{
    padding-left: 10px;
  }
  .home_mensagem h1{
    font-size: 64px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
}

.charts{
  display: flex;
  justify-content: center;
  align-content: center;
}