.home_mensagem {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #344EE2;
  padding-left: 5%;
  padding-top: 5%;
}

.home_corpo {
  display: flex;
  flex-direction: column;
}

.home_alerta {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.home_alerta div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 23px;
}

.home_alerta p {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 114.3%;
  color: #1E1E1E;
  padding-left: 3%;
}

.home_alerta p a {
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 114.3%;
  color: #1E1E1E;
}


.home_opcoes_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.home_maquina {
  display: flex;
  flex-direction: column;
}

.home_maquina a {
  padding-top: 2%;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

.home_maquina_fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.home_funcionario {
  display: flex;
  flex-direction: column;
}

.home_funcionario a {
  padding-top: 2%;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

.home_funcionario_fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.home_opcoes_2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8%;
  padding-left: 5%;
  padding-right: 5%;
}

.home_configuracao {
  display: flex;
  flex-direction: column;
}

.home_configuracao a {
  padding-top: 2%;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

.home_configuracao_fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.home_setor {
  display: flex;
  flex-direction: column;
}

.home_setor a {
  padding-top: 2%;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #1E1E1E;
}

.home_setor_fundo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 135px;
  height: 135px;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}