* {
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic';
  font-style: normal;
  font-weight: 700;
}

body {
  background: #fff;
}

button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #fff;
  font-family: "Poppins";
  box-sizing: border-box;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 600px) {
  .navbar {
      justify-content: space-between;
      padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3540E6;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
      display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
      display: none;
  }
}

.navbar-title {
  margin: 0;
}

.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 270px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  visibility: hidden;
  transition: translate 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
      position: static;
      translate: 0 0;
      width: auto;
      background: transparent;
      flex-direction: row;
      visibility: visible;
  }
}

.navbar-menu>a {
  color: #3540E6;
  background: transparent;
  padding: 0 8px;
  text-decoration: none;
  font-size: 20px;
}

.navbar-menu>a.active {
  color: inherit;
}


.maquinas_conteudo {
  margin-top: 64px;
  display: flex;
  
  flex-direction: column;
}

h1 {
  font-family: "Zen Maru Gothic";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 44px;
  padding-left: 5%;

  color: #344ee2;
}

.maquinas_topo {
  padding-top: 5%;
  padding-bottom: 5%;
  border-bottom: 2px solid #d9d9d9;
  display: flex;
  justify-content: center;
}

.maquinas_corpo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 2px rgba(0, 0, 0, 0.1);
}

.maquinas_navegacao {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 4%;
  padding-bottom: 3%;
  border-top: 2px solid #d9d9d9;
}

.maquinas_rodape {
  padding-left: 77%;
  padding-bottom: 4%;
}

.machine-title {
  width: 100%;
}

.btn-list {
  display: flex;
  flex-direction: row;
  margin-right: 3%;
}

.btn-list a {
  margin: 0.5rem;
}


