* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  background: #fff;
}

button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}



.titulo {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

@media(max-width: 600px) {
  .titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(53, 64, 230, 0.16);
    margin-top: 0;
  }
}


.titulo h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #344ee2;
  padding: 0;
}

.sub_item_1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.sub_item_1 div h3 {
  margin-left: 5%;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #344EE2;
}

.sub_item_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.sub_item_2 {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 10%;
}

.sub_item_2 h3 {
  line-height: 24px;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: #1E1E1E;
}

.sub_item_2 h4 {
  line-height: 24px;
  margin: 0;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #1E1E1E;
}

.item {
  padding-bottom: 5%;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

.corpo {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

.mid {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}