* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  background: #fff;
}



.conteudo {
  display: flex;
  min-height: 99vh;
  min-width: 100%;
  flex-direction: column;
}

.barra_navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}

.titulo_pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}


.titulo_pagina h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #3540E6;
  margin-bottom: 5%;
}

.titulo_pagina svg {
  padding-top: 5%;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

.item h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #344EE2;
  padding-left: 10%;
}

.item_sair {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

.item_sair h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #EC2F2F;
  margin-left: 10%;
}

.mid {
  flex-grow: 1;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

a {
  text-decoration: none;
}