* {
  /* box-sizing: border-box; */
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
}

body {
  background: #fff;
}






.corpo {
  display: flex;
  min-height: 98vh;
  flex-direction: column;
}

h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  padding-left: 8px;

  color: #344EE2;
}

.barra_navegacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}

.titulo_pagina {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4em;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

@media(max-width: 600px) {
  .titulo_pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(53, 64, 230, 0.16);
    margin-top: 0;
  }
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  border-bottom: 2px solid rgba(53, 64, 230, 0.16);
}

.item h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #344ee2;
}

.maquina {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.maquina h3 {
  margin-left: 5%;
}


.mid {
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.adicionar {
  margin-top: 10px;
  padding-left: 80%;
  margin-bottom: 4%;
}

.conteudo a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .adicionar {
    margin-top: 15px;
    padding-left: 86%;
    margin-bottom: 4%;
  }
}