/* body {
  background: #000524;
} */


@media screen and (min-width: 768px) {
  #wrapper-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #wrapper {
    width: 33%;
  }
}

.wrapper {
  /* position: relative; */
  /* padding-top: 20px; */
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.2);
  max-width: 850px;
  /* margin: 35px 2% 5% 2%; */
}

#chart-bar-temp {
  position: relative;
  margin-top: -38px;
}

#chart-bar-noise {
  position: relative;
  margin-top: -38px;
}

#chart-bar-vib {
  position: relative;
  margin-top: -38px;
}